@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.container {
  width: 1110px;
}
nav {
  display: flex;
}
.logo {
  width: 64.09px;
  height: 39.9px;
  margin-top: 89px;
}
.nav-items {
  margin-top: 89px;
  margin-left: 600px;
}
.item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  text-decoration: none;
  /* Gunmetal */
  margin-left: 40px;
  color: #5e607a;
}
.a {
  margin-left: 0px;
}
.item:hover {
  color: #f15d51;
}
.grid-container {
  margin-top: 55px;
  display: grid;
  grid-gap: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: url("./assets/images/image-web-3-desktop.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}
.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  background: #00001a;
  height: 511px;
  width: 350px;
}
h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */
  margin-top: 32px;
  margin-left: 24px;
  /* Yellow */

  color: #e9aa52;
}
h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  margin-top: 31px;
  /* Almost White */
  margin-left: 24px;
  color: #fffdfa;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* or 173% */
  margin-left: 24px;
  margin-right: 24px;
  /* Silver */
  margin-top: 8px;
  color: #c5c6ce;
}
hr {
  border-color: #5e607a;
  margin: 29px 24px 0px 24px;
}
.h3 {
  margin-top: 34px;
}
.item3 {
  height: 183px;
}
.item4 {
  height: 183px;
}
h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  /* or 100% */

  display: flex;
  align-items: center;

  /* Dark Space Blue */

  color: #00001a;
}
.p2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 173% */
  margin: 0px;
  /* Gunmetal */
  height: 104px;
  color: #5e607a;
}
.btn1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  height: 48px;
  letter-spacing: 4.375px;
  width: 185px;
  /* Almost White */
  background: #f15d51;
  color: #fffdfa;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.btn1:hover {
  background: #00001a;
}
.footer {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
}
.d {
  width: 100px;
  height: 127px;
}
.f1 {
  display: flex;
}
.f1-content {
  margin-left: 24px;
}
span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height, or 100% */

  /* Silver */

  color: #c5c6ce;
}
.p3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Dark Space Blue */
  margin: 0px;
  margin-top: 12px;
  color: #00001a;
}
.p4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* or 173% */
  margin: 0px;
  /* Gunmetal */
  margin-top: 9px;
  width: 226px;
  color: #5e607a;
}
.f2 {
  margin-left: 30px;
  display: flex;
}
.f2-content {
  margin-left: 24px;
}
.f3 {
  margin-left: 30px;
  display: flex;
}
.f3-content {
  margin-left: 24px;
}
.p3:hover {
  color: #f15d51;
}
.menu-icon1 {
  display: none;
}
.menu {
  display: none;
}
.bg {
  display: none;
}
// Mobile version
@media screen and (max-width: 375px) {
  .container {
    width: 343px;
  }
  .logo {
    width: 44.98px;
    height: 28px;
    margin-top: 28px;
  }
  .item {
    display: none;
  }
  .menu-icon1 {
    display: flex;
    width: 40px;
    height: 17px;
    margin-left: 258px;
    margin-top: 34px;
  }
  .nav-items {
    margin-left: 0px;
    margin-top: 0px;
  }
  .grid-container {
    margin-top: 33px;
    grid-gap: 0px;
  }
  .item1 {
    grid-column: 1;
    grid-row: 1;
    background: url("./assets/images/image-web-3-mobile.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 343px;
  }
  .item2 {
    width: 343px;
    height: 489px;
    grid-row: 4;
    grid-column: 1;
    margin-top: 64px;
  }
  h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */
    margin-top: 24px;
    /* Yellow */
    margin-left: 21px;
    color: #e9aa52;
  }
  .h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    margin-top: 35px;
    /* Almost White */
    margin-left: 21px;
    color: #fffdfa;
  }
  hr {
    margin-top: 29px;
  }
  .item3 {
    height: 120px;
    width: 343px;
    grid-row: 2;
    grid-column: 1;
    margin-top: 24px;
  }
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;

    /* Dark Space Blue */

    color: #00001a;
  }
  .item4 {
    width: 343px;
    grid-row: 3;
    grid-column: 1;
    margin-top: 16px;
  }
  .p2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* or 173% */

    /* Gunmetal */

    color: #5e607a;
  }
  .btn1 {
    margin-top: 24px;
  }
  .footer {
    margin-top: 63px;
    flex-direction: column;
    width: 343px;
    height: 451px;
  }
  .f2 {
    margin: 32px 0px 0px 0px;
  }
  .f3 {
    margin: 32px 0px 0px 0px;
  }
  .bg {
    height: 100vh;
    width: 100vw;
    background: #00001a;
    opacity: 0.5;
    display: block;
    position: absolute;
  }
  .menu {
    position: absolute;
    width: 256px;
    height: 669px;
    left: 119px;
    top: 0px;
    display: block;
    /* Almost White */

    background: #fffdfa;
  }
  .menu-icon {
    position: absolute;
    left: 204.8px;
    top: 27.3px;
  }
  .a {
    margin: 0px;
    position: absolute;
    height: 24px;
    top: 144px;
    left: 143px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Dark Space Blue */
    z-index: 999;

    color: #00001a;
  }
  .b {
    position: absolute;
    height: 24px;
    top: 192px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    left: 143px;
    /* Dark Space Blue */
    z-index: 999;
    color: #00001a;
    margin: 0px;
  }
  .v {
    position: absolute;
    height: 24px;
    top: 240px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    left: 143px;
    /* Dark Space Blue */
    z-index: 999;
    color: #00001a;
    margin: 0px;
  }
  .g {
    position: absolute;
    height: 24px;
    top: 288px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    left: 143px;
    /* Dark Space Blue */
    z-index: 999;
    color: #00001a;
    margin: 0px;
  }
  .d1 {
    position: absolute;
    height: 24px;
    top: 336px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    left: 143px;
    /* Dark Space Blue */
    z-index: 999;
    color: #00001a;
    margin: 0px;
  }
}
